@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(255, 187, 61), rgb(159, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    width: 50vw;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, rgb(255, 166, 0), rgb(255, 0, 0));
    border-radius: 15px; 
}
main .caixa{
    width: 150px;
    height: 250px;
    background-color: rgb(255, 192, 76);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
    padding-top: 20px;
    position: relative;
}

main .caixa span{
    font-size: 5.5em;
}
@media screen and (max-width: 905px) {
    main{
        border-radius: 0;
        background-image: none;
        margin: auto;
    }
    main .caixa{
        background-color: transparent;
        margin-left: 30px;
    }
    main .caixa:first-child{
        margin-left: 0;
    }
    main .caixa:after{
        content: ':';
        position: absolute;
        top: 50px;
        left: 100%;
        font-size: 5em;
    }
    main .caixa:last-child::after{
        content: '';
    }
}